<table *ngIf="UserData$ | async as items else loading" style="background-color: rgb(236, 236, 236);">
    <thead>
        <tr>
            <th>Tag</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>gekommen</th>
            <th>gegangen</th>
            
        </tr>
    </thead>
    <tbody *ngIf="loading1"  > 
        <tr *ngFor="let item of UserDataArray">
            <td *ngIf="item.times[0][0]">{{item.times[0][0]?.time*1000 | date : 'd/M/yy' }}</td>
            <td *ngIf="!item.times[0][0]" >nd</td>

            <td >{{item.FirstName}}</td>
            <td >{{item.LastName}}</td>

            <td *ngIf="item.times[0][0]" >{{item.times[0][0].time *1000 |  date :"mediumTime" }}</td>
            <td *ngIf="!item.times[0][0]" >nd</td>

            <td *ngIf="item.times[0][1]" >{{item.times[0][1].time *1000  | date :"mediumTime"}}</td>
            <td *ngIf="!item.times[0][1]" >nd</td>

        </tr>
    </tbody>
</table>
<ng-template #loading>
    <div class="flex flex-row-reverse justify-center" style="height: 100%; width: 100%; margin-top: 20px;">
        <mat-spinner color="warn"></mat-spinner>
    </div>
</ng-template>
